# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Flask
instance/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
